@import url("https://fonts.googleapis.com/css?family=Gelasio&display=swap");

* { box-sizing: border-box; }

body,
html { 
overflow-x: hidden;
overflow-y: hidden;
 }

.bar {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;

  height: 24px;
  width: 240px;
  padding: 2px 0px 2px 0px;

  background-color: #443399;
  color: white;

  font-family: Gelasio;
  font-size: 18px;
}

.bar_content {
  display: block;
  white-space: nowrap;

  height: 50px;
  transform: translateX(500px); /* Animation start out of the screen */

  /* Add the animation */
  animation: move 20s linear infinite /* infinite make reapeat the animation indefinitely */;
}

/* Create the animation */
@keyframes move {
  to { transform: translateX(-800px); }
}